<div class="container__menu-center">
 
  <div class="textSmall__menu-center">
    <ul>
      <li>
        <a href="#">Example Big Press Moment or new Product Launch Goes Here</a>
      </li>
    </ul>
  </div>
  <h1>World class producsts that</h1>
  <h1><span>oneboard</span> employees</h1>

    <div class="paragraph__menu-center">
        <p>Viniboy Blog's makes a variety of ridiculously easy-to-use software  </p>
        <p>products to power the employee experience</p>
    </div>

    <div class="buttons__menu-center">
        <button class="button-one">Free Tials</button>
        <button class="button-two">Watch Now</button>
    </div>

</div>

<div class="image-center">

</div>
